@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* styles navbar*/
  
a {
  color: #f5f5f5;
  text-decoration: none;
  transition: 0.3s;
}
  
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #406882;
  height: 10vh;
  text-transform: uppercase;
}
  
.nav-list {
  list-style: none;
  display: flex;
}
  
.nav-list li {
  letter-spacing: 1px;
  margin-left: 22px;
}

.nav-list li a:hover {
  color: #1A374D;
  background-color: #B1D0E0;
  border-radius: 5px;
  padding: 5px;
}
  
.mobile-menu {
  display: none;
  cursor: pointer;
}
  
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
  
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    overflow-x: hidden;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 50vw;
    height: 45vh;
    /*background: rgba(64, 104, 130, 0.9);*/
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    font-size: 12px;
    z-index: 1;
    visibility: hidden;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}
  
.nav-list.active {
  transform: translateX(0);
  background: rgba(64, 104, 130, 0.9);
  visibility: visible;
}
  
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* styles p1 */

.p1 {
  background: url("../img/bg-home.png") no-repeat center center;
  background-size: cover;
  height: 90vh;
}

.p1-conteudo {
  padding-top: 50px;
  color: #1A374D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
  text-align: center;
}

.uniframe {
  position: relative;
  width: 500px;
  height: 300px;
}

.uniframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

@media (max-width: 999px) {
  .uniframe {
    position: relative;
    width: 420px;
    height: 250px;
    display: flex;
  }
}

/* style p2 */

.p2 {
  color: #2F2E2E;
}

.top-p2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.title-p2 {
  font-size: 42px;
  padding-top: 50px;
}

.subtitle-p2 {
  font-size: 18px;
  font-style: bold;
}

/* alguns styles gerais*/

.cont {
  padding-top: 50px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 50px;
}

/* styles p2*/

.cont-p2 {
  display: flex;
  flex-direction: column;
  align-items: inherit;
  justify-content: space-around;
}

.paragraph-p2 {
  font-size: 16px;
}

.list-p2 {
  padding: 20px;
}

/* styls p3 */

.p3, .p6 {
  background: #B1D0E0;
  color:#406882;
}

.top-p3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.cont-p3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 120px;
  column-gap: 70px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 200px;
  width: 200px;
  text-align: center;
}

/* alguns styles p4

.sec-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 60px;
  background-color: #1A374D;
  padding-top: 50px;
  padding-bottom: 50px;
}

.sec-cta p {
  color: #fff;
  font-style: none;
  font-size: 48px;
}

.btn-sec-cta {
  border: solid 2px white;
  padding: 12px;
  border-radius: 10px;
  background-color: #6998AB;
}

.btn-sec-cta:hover {
  background-color: #B1D0E0;
  color: #1A374D;
  border: solid 2px #1A374D;
}
*/

/* styles p6*/

.cont-p6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 70px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-sociais {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 60px;
  color:#406882;
}

/* styles p7*/

.p7 {
  background: #fff;
}

.linha {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.p7 img {
  width: 256px;
  height: 256px;
}

.btn-login {
  border: solid 2px white;
  color: white;
  padding: 12px;
  border-radius: 5px;
  background-color: #6998AB;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #fff;
  color: #1A374D;
  box-shadow: 0 2px 20px rgba(26, 55, 77, 0.3);
  border: solid 1px #1A374d;
}

/* styles footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: #1A374D;
  color: #fff;
}

@media (max-width: 500px) {

  body {
    overflow-x: hidden;
  }
  
  /* responsividade p1 */

  .uniframe {
    position: relative;
    width: 250px;
    height: 150px;
  }

  .p1 { 
    height: 45vh;
  }

  .p1-conteudo {
    font-size: 14px;
  }

  /* responsividade p2 */

  .title-p2 {
    font-size: 24px;
  }

  .subtitle-p2 {
    font-size: 16px;
  }

  .paragraph-p2 {
    font-size: 12px;
  }

  .cont {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
  }

  .list-p2 {
    font-size: 9px;
  }

  /* responsividade p3 */

  .top-p3 {
    text-align: center;
  } 

  .cont-p3 {
    justify-content: space-around;
    column-gap: 20px;
    row-gap: 50px;
  }

  .item { 
    font-size: 10px;
    height: 150px;
    width: 150px;
  }

  .item img { 
    height: 32px;
    width: 32px;
  }

  /* responsividade p4 

  .sec-cta {
    gap: 30px;
  }

  .sec-cta p {
    font-size: 16px;
  }

  .btn-sec-cta {
    font-size: 10px;
    padding: 8px;
  }
  */

  /* responsividade p5: é a msm do 3 */

  /* responsividade p6 */

  .cont-p6 {
    text-align: center;
  }

  /* responsividade p7: sla */

  /* footer */

  footer {
    font-size: 12px;
  }

}